@media (min-width: 1199px) {
    .navigation {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
        justify-content: flex-end !important;
    }
}

@media (max-width: 1199px) {
    .navigation {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        top: 100%;
        width: 60%;
        height: auto;
        margin: 0 auto;
        background: #fff;
        box-shadow: 0 10px 15px #22222231;
        z-index: 9999;
    }


    .hamburger i {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .menu ul {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .menu ul li a {
        padding: 1rem 3rem;
        width: 100%;
    }

    .menu>ul>li:after {
        display: none;
    }

    .menu-btn {
        margin: 2rem 3rem;
    }

    .drp-menu {
        top: 0;
        left: 15rem;
    }

    .footer-btm .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .f-menu ul {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .copyright-f p {
        text-align: center;
        padding-top: 2rem;
    }
}

@media (max-width: 767px) {
    .hero-area .row {
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        row-gap: 5rem;
    }

    .section-paragrap {
        max-width: 80%;
        margin: 0 auto;
        padding-top: 2rem;
    }

    .test-item .test-title {
        max-width: 80%;
    }
}

@media (max-width: 575px) {
    .drp-menu {
        top: 100%;
        left: 5%;
    }

    .navigation {
        width: 90%;
    }

    .contact-form-area {
        max-width: 100%;
        margin: 0 auto;
    }

    .f-menu ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        row-gap: 1rem;
    }
}

@media (max-width: 350px) {
    .hero-text p {
        max-width: 100%;
    }

    .section-paragrap {
        max-width: 100%;
    }

    .section-title {
        color: var(--hh-color);
        font-size: 3rem;
    }

    .test-item .test-title {
        max-width: 100%;
    }
}